

$gutter: 15px;
$black: #171717;
$white: #ffffff;
$yellow: #ca9930;

$gray-text: #a7a7a7;

$xsmall_screen: 440px;
$small_screen: 768px;
$medium_screen: 1440px;
$large_screen: 1440px;
$larger_screen: 1800px;