<section id="privacy" class="privacy-modal">
  <div class="container-fluid modal-container">
    <div class="row contact-form-header">
      <div class="col-sm-3 col-sm-offset-3">
        <img src="{{ asset('images/icon-logo.png', 'theme') }}" width="40px"/>
      </div>
      <div class="col-sm-3 text-right">
        <span class="close-modal loaded spin"><img src="{{ asset('images/icon-close.png', 'theme') }}" width="30px"/></span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h3>BIPOLAR STUDIO</h3>
        <h1 class="terms-title">Privacy Policy</h1>
        <div class="form-group">
        <p>
          Our Services instantly connect people everywhere to what’s most meaningful to them. For example, any registered user of Twitter can send a Tweet, which is public by default, and can include a message of 140 characters or less and content like photos, videos, and links to other websites.
          </p><p>
          This Privacy Policy describes how and when we collect, use, and share your information across our websites, SMS, APIs, email notifications, applications, buttons, embeds, ads, and our other covered services that link to this Policy (collectively, the “Services”), and from our partners and other third parties. For example, you send us information when you use our Services on the web, via SMS, or from an application such as Twitter for Mac, Twitter for Android, or TweetDeck. When using any of our Services you consent to the collection, transfer, storage, disclosure, and use of your information as described in this Privacy Policy. This includes any information you choose to provide that is deemed sensitive under applicable law.
          </p><p>
          When this policy mentions “we” or “us,” it refers to the controller of your information under this policy. If you live in the United States, your information is controlled by Twitter, Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103 U.S.A. If you live outside the United States, the data controller responsible for your information is Twitter International Company, an Irish company with its registered office at One Cumberland Place, Fenian Street, Dublin 2 D02 AX07 Ireland. Despite this, you alone control and are responsible for the posting of your Tweets and other content you submit through the Services, as provided in the Terms of Service and Twitter Rules.
          </p>
          Irrespective of which country you live in, you authorize us to transfer, store, and use your information in the United States, Ireland, and any other country where we operate. In some of these countries, the privacy and data protection laws and rules regarding when government authorities may access data may vary from those in the country where you live. Learn more about our global operations and data transfer here.
          If you have any questions or comments about this Privacy Policy, please submit a request through our form, available at https://support.twitter.com/forms/privacy.
          <p></p>
          <h2>Information Collection & Use</h2>
          <p>
          You may choose to provide us with additional information to help improve and personalize your experience across our Services. For example, you may choose to upload and sync your address book so that we can help you find and connect with users you know or help other users find and connect with you. We may later personalize content, such as making suggestions or showing user accounts and Tweets for you and other users, based on imported address book contacts. You can delete your imported address book contacts at any time by visiting your Contacts Dashboard at https://twitter.com/settings/contacts_dashboard. If you email us, we may keep your message, email address, and contact information to respond to your request. If you connect your account on our Services to your account on another service, the other service may send us information that you authorize for use in the Services. This information may enable cross-posting or otherwise help us improve the Services, and is deleted from our Services within a few weeks of your disconnecting from our Services your account on the other service.
          </p><p>
          We may revise this Privacy Policy from time to time. The most current version of the policy will govern our use of your information and will always be at https://twitter.com/privacy. If we make a change to this policy that, in our sole discretion, is material, we will notify you via an @Twitter update or email to the email address associated with your account. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.
          </p><p>
          Effective: June 18, 2017
          </p><p>
          Archive of Previous Privacy Policies
          </p><p>
          Thoughts or questions about this Privacy Policy? Please, let us know by contacting us here or writing to us at the appropriate address below.
          </p>
          <p>
          For accounts based in the United States:<br/>
          Twitter, Inc.<br/>
          Attn: Privacy Policy Inquiry<br/>
          1355 Market Street, Suite 900<br/>
          San Francisco, CA 94103<br/>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <br/><br/><br/>
        <a class="btn btn-default close-modal no-spin">Close</a>
      </div>
    </div>
  </div>
</section>